@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
form.ia_covid19_create_widget * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.container {
  max-width: 500px;
  width: 100%;
  
  position: relative;
}

form.ia_covid19_create_widget input[type="text"],
form.ia_covid19_create_widget input[type="email"],
form.ia_covid19_create_widget input[type="tel"],
form.ia_covid19_create_widget input[type="url"],
form.ia_covid19_create_widget textarea,
form.ia_covid19_create_widget button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

form.ia_covid19_create_widget {
  background: #223552 !important;
  padding: 25px;
  margin-bottom: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  color: #fff !important;
  border-radius: 5px;
}

form.ia_covid19_create_widget h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

form.ia_covid19_create_widget h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

form.ia_covid19_create_widget input[type="text"],
form.ia_covid19_create_widget input[type="email"],
form.ia_covid19_create_widget input[type="tel"],
form.ia_covid19_create_widget input[type="url"],
form.ia_covid19_create_widget textarea, form.ia_covid19_create_widget select{
  width: 100%;
  max-width: 100% !important;
  border: 1px solid #ffcf87 !important;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  background: transparent !important;
  color: #fff !important;
}

form.ia_covid19_create_widget input[type="text"]:hover,
form.ia_covid19_create_widget input[type="email"]:hover,
form.ia_covid19_create_widget input[type="tel"]:hover,
form.ia_covid19_create_widget input[type="url"]:hover,
form.ia_covid19_create_widget textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

form.ia_covid19_create_widget textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

form.ia_covid19_create_widget button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

form.ia_covid19_create_widget button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

form.ia_covid19_create_widget button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

form.ia_covid19_create_widget input:focus,
form.ia_covid19_create_widget textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}